.header-logo{
    margin-top: 21px;
    margin-left: 121px;
}
.header-logo img {
    width: 112px;
    height: 66px;
}


.header-content-section{
    margin-left: 121px;
}
.header-img img{
    width: 305px;
    height: 376px;
    margin-top: 3px;
}


.header-p-extra{
    width: 35.347vw;
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}
.header-p-extra div{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: flex-start;
}
.header-p-extra .globe p{
    margin-top: 4px;
    margin-left: 8px;
}
.header-p-extra .hour p{
    margin-top: 4px;
    margin-left: 10px;
    width: 129px;   /*p and icon intersect 1 pixel in figma*/
}
.header-p-extra .month p{
    margin-top: 4px;
    margin-left: 13px;
}
.header-p-extra p{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    width: 130px;
    height: 32px;
}
.header-p-extra .globe img{
    width: 22px;
    height: 21px;
    margin-top: 1px;
}
.header-p-extra .hour img{
    width: 22px;
    height: 22px;
    margin-left: 25px;
}
.header-p-extra .month img{
    width: 20px;
    height: 22px;
}


.header-p h1{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 80px;
    line-height: 81.11px;
    margin-top: 29px;
}
.header-p p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 53.976%;
    margin-left: 1px;
    margin-top: 15px;
}


.header-author-flex{
    display: flex;
    justify-content: end;
    margin-top: 65.62px;
}
.header-author-content{
    background-color: #1E4681;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    padding-left: 26.03px;
    padding-right: 18.52px;
    padding-top: 19.26px;
    padding-bottom: 18.62px;
    width: 62.644%;
}
.author-words{
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.5px;
    margin-bottom: 5px;
    width: 98.064%;
}
.author-name{
    font-family: Roboto;
    font-size: 20px;
    line-height: 26px;
    text-align: end;
}


.header-content-div{
    display: grid;
    grid-template-columns: 53.6vw auto;
    grid-template-rows: auto auto;
}


/*--------------------------------------------*/


.about{
    margin-left: 121px;
}
.about .about-header-div{
    margin-top: 174.36px;
    width: 365px;
    height: 93px;
}
.about-header-div h1{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 55.76px;
}


.about-content-div{
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82.777vw;    /*1192px*/
}
.about-content-p{
    width: 55.536%;
}
.about-content-p p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.about-content-p p:last-child{
    margin-top: 36px;
}
.about-content-img img{
    width: 366px;
    height: 344px;
}

.about-details-div{
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.583vw;      /*1002*/
}
.about-details-img img{
    width: 232px;
    height: 219px;
}
.about-details-content{
    margin-top: 72px;
    width: 63.672%;   /*638*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-details-content div{
    width: 150px;
}
.about-details-content h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
}
.about-details-content p{
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}


/*----------------------------------------*/


.format{
    margin-top: 158px;
    margin-left: 121px;
}
.format-header-div h1{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
}
.format-content{
    margin-top: 126px;
    width: 67.013vw;    /*965*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.format-content div:first-child{
    width: 23.108%;     /*223*/
}
.format-content div:nth-child(2){
    width: 27.253%;    /*263*/
}
.format-content div:last-child{
    width: 24.455%;    /*236*/
}
.format-content h2{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

    color: #1E4681;
}
.format-content p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 9px;
}


/*-------------------------------------------*/


.questions{
    margin-left: 121px;
    margin-top: 218px;
}
.questions-header h1{
    font-family: Roboto Slab;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}
.questions-content{
    margin-top: 58px;
    margin-left: 17px;
}
.questions-content ul{
    width: 45.138vw;    /*650*/
}
.questions-content li{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}


/*-------------------------------------------*/


@media screen and (min-width:834px) and (max-width:1279px){
    .header-logo{
        margin: 0px;
        margin-top: 22px;
        margin-left: 70.08px;
    }
    .header-logo img {
        width: 64.87px;
        height: 38.23px;
    }

    /*-------------------------------*/

    .header-content-section{
        margin: 0px;
        margin-left: 70.08px;
    }
    .header-img img{
        width: 176.65px;
        height: 217.77px;
        margin-top: 1px;      /********************************************/
    }


    .header-p-extra{
        width: 35.3465vw;    /*294.79*/
        margin-top: 52px;
    }
    .header-p-extra p{
        font-family: Roboto;
        font-size: 12px;
        line-height: 13.8px;
        width: 75.29px;
        height: 18.53px;
    }
    .header-p-extra .globe p{
        margin-top: 2.74px;
        margin-left: 4.63px;
    }
    .header-p-extra .hour p{
        margin-top: 3.17px;
        margin-left: 6.03px;
        width: 74.29px;
    }
    .header-p-extra .month p{
        margin-top: 2.32px;
        margin-left: 7.53px;
    }
    .header-p-extra .globe img{
        width: 12.74px;
        height: 12.16px;
        margin-top: 0.58px;
    }
    .header-p-extra .hour img{
        width: 12.74px;
        height: 12.74px;
        margin-left: 14.48px;
    }
    .header-p-extra .month img{
        width: 11.58px;
        height: 12.74px;
    }


    .header-p h1{
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 46px;
        line-height: 46.64px;
        margin-top: 6.32px;
    }
    .header-p p{
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        width: 57.043%;
        margin-left: 1px;
        margin-top: 20px;
        font-style: normal;
        letter-spacing: 0em;
        text-align: left;
    }

    .header-content-div{
        grid-template-columns: 53.401vw auto;
        grid-template-rows: auto auto;
    }


    .header-author-flex{
        display: flex;
        justify-content: end;
        margin-top: 36.17px;
    }
    .header-author-content{
        padding-left: 15.08px;
        padding-right: 9.21px;
        padding-top: 11.15px;
        padding-bottom: 13.54px;
        width: 62.644%;
    }
    .author-words{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

        margin-bottom: 2px;
        width: 95.246%;
    }
    .author-name{
        font-size: 12px;
        line-height: 16px;
    }
    
    
    .header-content-div{
        display: grid;
        grid-template-columns: 53.6vw auto;
        grid-template-rows: auto auto;
    }


    /*--------------------------------------------*/


    .about{
        margin-left: 70.08px;
    }
    .about .about-header-div{
        margin-top: 101.41px;
        width: 211.4px;
        height: 53.86px;
    }
    .about-header-div h1{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32.44px;
    }
    
    
    .about-content-div{
        margin-top: 10.42px;
        width: 82.778vw;    /*690.37px*/
    }
    .about-content-p{
        width: 55.536%;
    }
    .about-content-p p{
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
    .about-content-p p:last-child{
        margin-top: 20px;
    }
    .about-content-img img{
        width: 211.98px;
        height: 199.23px;
    }
    
    .about-details-div{
        margin-top: 40.51px;
    }
    .about-details-img img{
        width: 134.37px;
        height: 126.84px;
    }
    .about-details-content{
        margin-top: 41.54px;
    }
    .about-details-content div{
        width: 86.88px;
    }
    .about-details-content div:nth-child(2){
        width: 96px;
        padding-left: 9px;
    }
    .about-details-content h2{
        font-size: 15px;
        line-height: 19.5px;
    }
    .about-details-content p{
        margin-top: 4px;
        font-size: 11px;
        line-height: 14.3px;
    }
    
    
    /*----------------------------------------*/


    .format{
        margin-top: 89.83px;
        margin-left: 70.08px;
    }
    .format-header-div h1{
        font-size: 32px;
        line-height: 32.44px;
    }
    .format-content{
        margin-top: 74px;
        width: 67.598vw;    /*563.7*/
    }
    .format-content div:first-child{
        width: 25.2%;     /*146*/
    }
    .format-content div:nth-child(2){
        width: 30.512%;    /*172*/
        padding-left: 10px;
    }
    .format-content div:last-child{
        width: 25.172%;    /*141.9*/
    }
    .format-content h2{
        font-size: 15px;
        line-height: 19.5px;
    }
    .format-content p{
        font-size: 11px;
        line-height: 14.3px;
    
        margin-top: 4px;
    }


    /*-------------------------------------------*/


    .questions{
        margin-top: 121.55px;
        margin-left: 70.08px;
    }
    .questions-header h1{
        font-size: 32px;
        line-height: 32.44px;
    }
    .questions-content{
        margin-top: 35px;
        margin-left: 11px;
    }
    .questions-content li{
        font-size: 14px;
        line-height: 21px;
    }
}

/*--------------------------------------------*/

